<h1>Search Result</h1>

<% if  @searches.size <= 0 %>
    <p> No Result Found</p>
<% else %> 
    <p>Your search for "<%= @keywork_terms%>" return <%= pluralize(@searches.size, 'result')%></p>

    <ul>
        <% @searches.each do |search|%>
            <li><%= link_to search.name, search%></li>
        <% end%>
    </ul>
<% end %>

